* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body {
    background: #378374;
}
.submit{
    margin-left: 30px;
    padding: 1px;
}
.form {

    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content:center;

}
.type_one{
    
   
}
.type_two{
    
}
input {     
    border-radius: 10px;
    border: none;

}
.main{
    width:100%;
    display: flex;
    justify-content: center;
}

.column{
    padding:30px;
    display:inline-flex; 

    margin-right:100px ;
}

.word_translaing {
  
}
.right_column{
    margin-left: 100px;
}
.left_column{
    margin-right: 50px;
}